.block{
	float: left;
	width: 25%;
	max-width: 150px;
	line-height: 150px;
	height: 25%;
	text-align: center;
	border: 1px solid #ccc;
}

.block:nth-of-type(4n+1){
    clear: both;
}

#control{
    clear: both;
    margin-left: 150px;
}

.checked{
    background-color: red !important;
}