/*全体設定---------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
*, *::before, *::after {
	box-sizing: border-box;
}
body{
	font-size: 1.4rem;
	background: url(../images/pagebg.jpg) repeat-x;
}
.wrapper {
	width: 1000px;
	min-height: 1650px;
	margin: 0 auto;
}

/*サイドバー-------------------------------------------------------------------*/
.aside {
	float:left;
	width: 260px;
	height: 1650px;
	padding: 30px;
	background: url(../images/bg_sidebar.png) repeat-y;
}
.aside .side-item {
	margin-top: 15px;
}

/*コンテント-------------------------------------------------------------------*/
.content {
	float: right;
	width: 705px;
}

/*-ヘッダー--------------------------------------------------------------------*/
.header {
	height: 288px;
	margin-bottom: 40px;
}
.header .global-nav {
	font-size: 0;
}
.header .global-nav .nav-item {
	display: inline-block;
	transition: 0.15s;
}
.header .global-nav .nav-item:hover {
	opacity: 0.7;
}

/*-メイン----------------------------------------------------------------------*/
.main .main-pic{
	text-align: center;
	margin-top: 10px;
}
.main .prayer-table {
	width: 100%;
	border: #cca653 solid 2px;
	margin-top: 20px;
}
.main .prayer-table th,
.main .prayer-table td {
	text-align: center;
	vertical-align: middle;
	border: #cca653 solid 1px;
	padding-top: 15px;
	padding-bottom:8px;
}
.main .prayer-table th {
	background: #EDDAC9;
	color: #E8320D;
}

.main .p1 {
	margin: 15px 0;
}
.main .p2 {
	margin: 10px 0 20px;
	color: red;
}
.main .p3 {
	margin-top: 30px;
	text-align: right;
}

.main .reception-tabel {
	width: 100%;
	border: #E8320D solid 2px;
	margin-top: 20px;
}
.main .reception-tabel td {
	padding-top: 15px;
	padding-bottom:8px;
	padding-left: 15px;
}
.main .reception-tabel td:first-of-type {
	color: white;
	background-color: #E8320D;
	font-weight: bold;
	width: 150px;
}
.main .reception-tabel tr{
	border-bottom: #cca653 solid 1px;
}

/*フッター---------------------------------------------------------------------*/
.footer {
	position: absolute;
	top: 1570px;
	height: 78px;
	width: 100%;
	background: url(../images/footer_bg.jpg) repeat-x;
	z-index: -1;
}
.footer p {
	text-align: right;
}