/*全体設定---------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
body{
	background: url(../images/pagebg.jpg) repeat-x;
}
.wrapper {
	position: relative;
	width: 1000px;
	min-height: 1650px;
	margin: 0 auto;
}
/*サイドバー-------------------------------------------------------------------*/
.aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	height: 1650px;
	padding: 30px;
	background: url(../images/bg_sidebar.png) repeat-y;
}
.aside .side-item {
	margin-top: 15px;
}
/*ヘッダー---------------------------------------------------------------------*/
.header {
	height: 288px;
}
.header .global-nav{
	margin-left: 280px;
}
.header .global-nav .nav-item {
	display: inline-block;
	transition: 0.15s;
}
.header .global-nav .nav-item:hover {
	opacity: 0.7;
}

