*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.2rem;
    background-color:#F6F6F6;
    border-top: solid 8px #6CC6C4;
    color: #515151;
    font-family: Verdana, Arial, Helvetica, meirio, メイリオ, "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック", sans-serif;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
body > .wrapper {
    width: 920px;
    margin: 0 auto;
}

/*ヘッダー*/
.header-wrapper {
    margin-bottom: 10px; 
}
.logo {
    float: left;
    background: url(../images/siteTitle.png) no-repeat;
    margin-top: 40px;
}
.logo a {
    display: block;
    width: 260px;
    height: 42px;
    opacity: 0;
}
.header .address {
    float: right;
    padding: 18px 0px 0px;
    text-align: right;
}
.header .address .desc {
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.header .address .tell {
    font-size: 2.0rem;
    margin-bottom: 10px;
}
.header .address .tell .fa-phone {
    vertical-align: top;
    color: gray;
    font-size: 1.5rem;
    margin-right: 17px;
    transform: rotate(100deg);
}
.header .address .reception-time {
    font-size: 0.8rem;
    padding: 10px;
    border: solid gainsboro 1px;
}
.header .address .reception-time .holiday {
    color: red;
}
.global-nav{
    text-align: center;
}
.global-nav .nav-item {
    display: inline-block;
    /*memo:border-radius時にはみ出した項目を削除する*/
    overflow: hidden;
    list-style: none;
    margin: 0;
}
.global-nav .nav-item:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.global-nav .nav-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.global-nav .nav-item a {
    display: block;
    width: 182px;
    padding: 17px 0px 18px;
    text-shadow: 1px 1px 2px #6CC6C4;
    background: linear-gradient(rgb(156, 277, 225), rgb(108,198, 196));
    color:white;
    text-decoration: none;
    /*memo:グラデーションがかかってると、transitionとかanimationとか指定できない。*/
}
.global-nav .nav-item a:hover,
.global-nav .nav-item.active a{
    background: linear-gradient(rgb(108,198, 196), rgb(156, 277, 225));
}

.bread-crumbs {
    font-size: 0.8rem;
    margin-top: 15px;
}

/*メイン*/
.sidemenu {
    float:left;
    width: 260px;
}
.main {
    float: right;
    width: 640px;
}
.sidemenu-title {
    padding: 0 15px;
    color: white;
    background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
    border: 1px solid #6CC6C4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    line-height: 40px;
    height: 40px;
    font-size: 1.3rem;
    margin-top: 20px;
}

.main-title {
    padding: 0 15px;
    color: white;
    height: 80px;
    padding-left: 30px;
    background:linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
    border: 1px solid #6CC6C4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 80px;
    font-size: 1.7rem;
    margin-top: 20px;
}

.general-dentistry {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 15px 30px;
    background-color: white;
    border: 1px solid #6CC6C4;;
}
.general-dentistry .nav-item {
    padding: 13px 8px;
    border-bottom: black solid 1px;
}
.general-dentistry .nav-item::before {
    content: "◆";
    margin: 0 5px;
    color: #6CC6C4;
}
.general-dentistry .nav-item a:visited
.general-dentistry .nav-item a:active {
    color: black;
}
.general-dentistry .nav-item a:hover {
    color: #6CC6C4;
}
