@charset "UTF-8";
/*全体設定*/
html{
  font-size: 62.5%;
}
body{
  background-color: #F6F7F6;
  color: #333;
  font-size:1.2rem;
  font-family: "Hiragino kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after{
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
  color:#d03c35;
  text-decoration:none;
}

/*ヘッダー*/
.header{
  width: 100%;
  padding: 28px 0 10px;
  box-shadow: 0 0 10px 1px #e3e3e3;
}
/*メニューアイテム*/
.item {
  margin: 40px 40px;
  padding: 8px;
  border-bottom: 3px solid;
  border-radius: 5px;
  background-color: #fff;
}

.item > a {
  display: block;
  /*memo:padding8 border-bottom3なので-11*/
  margin: -8px -8px -11px;
  padding: 8px 8px 11px;
  border-radius: inherit;
  color: #777;
  transition: 0.3s;
}

.item > a:hover {
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 3);
  opacity: 0.8;
}


/*フッター*/
.footer {
  width: 100px;
  text-align: center;
}