<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Vue.js</title>
</head>
<body>
    <div id="app">
        <form>
            <label for="holiday">祝日：</label><br/>
            <select id="holiday" v-model="holiday">
                <option value="">祝日を選択してください</option>
                <option value="new">元日</option>
                <option value="child">こどもの日</option>
                <option value="culture">文化の日</optino>
                <option value="labor">勤労感謝の日</option>
            </select>
        </form>
        <!--普通にただのif else文って感じ-->
        <div v-if="holiday=='new'">元日。年のはじめを祝う</div>
        <div v-else-if="holiday=='child'">5月5日。こどもの人格を重んじる</div>
        <div v-else-if="holiday=='culture'">11月3日。自由と平和の...</div>
        <div v-else-if="holiday=='labor'">勤労を感謝する</div>
        <div v-else>何も選択されていません</div>

        <!--
            v-showってのもあるけどこれは、display=noneして非表示にする
            cssの書き換えだからオーバーヘッドが非常に軽いらしい。
            でもelseifみたいな複雑な構文はかけない。
        -->
        <div v-show="holiday=='new'">newが選択されました</div>

        <!--
            また内容物が全く同じものが分岐対象に入っていた場合
            vue.jsはレスポンスを早くするためにあえて書き換えない（余計なお世話）
            確実に書き換えたい属性にはkey属性でUniqueな文字列を付与しよう。
        -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                holiday:''
            }
        });
    </script>
</body>
</html>