html {
  font-size: 62.5%;
}

body { 
  background-color: #222222;
}
/*-----ヘッダー----------------------------------------------------------------*/
header h1 {
  font-size: 3.0rem;
  font-family: serif;
}

/*-----コンテナ----------------------------------------------------------------*/
.container {
  width: 680px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffcc;
}

/*-----コンテンツ--------------------------------------------------------------*/
.container h2 {
  font-size: 1.1em;
  font-family: sans-serif;
  color: darkblue;
}

.container img {
  display: block;
  margin: 0 auto;
}

li {
  margin: 5px 0px;
}